.body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

    color: white;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 20px;
}

.col {
    position: relative;
    text-align: center;
}

.board {
    display: flex;
    align-items: center;
    justify-content:center;
}

.square {
    width: 5rem;
    height: 5rem;
    position: relative;
}

.black {
    box-shadow: inset 0 0 3px black;
    background-color: #667188;
    color: white;
}

.white {
    box-shadow: inset 0 0 3px black;
    background-color: #282f3f;;
    color: black;
}

.piece {
    height: 4rem;
    width: 4rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: calc(50% - 2rem);
    transform: translateY(-50%);
    /* border-radius: 100%; */
}

.move {
    margin-top: 2px;
    position: absolute;
    left: 0px;
    right: 0px
}

.playMove {
    margin-top: 3px;
}

.rowNums {
    margin-right: 3px
}

.boardParent {
    display: flex;
}


.playAgain {
  margin-top: 20px;
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.playAgain:hover {
  background-color: #ffffff;
  box-shadow: #ADCFFF 0 -10px 8px inset;
  transform: scale(1.125);
}

.playAgain:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .playAgain {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}